<!DOCTYPE html>
<html>

<head>
	<title>FixIt</title>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/bootstrap.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/material-icons.css" />
</head>

<body>
	<div class="container-fluid">
		<div class="offset-sm-1 col-sm-10">
			<%- body %>
		</div>
	</div>
</body>

</html>