<h1 class="border-bottom mt-5 mb-5">
	Entrar
</h1>

<form action="/login" method="POST">
	<input class="form-control mb-3" value="" type="email" name="email" placeholder="E-mail" />
	<input class="form-control mb-3" value="" type="password" name="senha" placeholder="Senha" />
	<a class="btn btn-secondary" href="/register">Registre-se</a>
	<button class="btn btn-primary" type="submit">Entrar</button>
</form>