<div class="text-right mt-5">
	<a class="btn btn-primary mb-4" href="/logout">Sair</a>
</div>

<h1 class="border-bottom mt-1 mb-4">Minhas Ocorrencias</h1>


<a class="btn btn-primary mb-4" href="/occurrence/new">Novo registro</a>
<button type="button" class="btn btn-primary mb-4 float-right" data-toggle="modal" data-target="#myModal">
  Pesquisar
</button>
<table class="table">
	<thead class="thead-light">
		<tr>
			<th>Local</th>
			<th>Descrição</th>
			<th>Tipo</th>
			<th>Gravidade</th>
			<th style="width: 180px;"> </th>
		</tr>
	</thead>
	<tbody>
		<% data.forEach(item => { %>
			<tr>
				<td>
					<%= item.local %>
				</td>
				<td>
					<%= item.description %>
				</td>
				<td>
					<%= item.tipo %>
				</td>
				<td>
					<%= item.gravidade %>
				</td>
				<td>
					<a class="btn btn-primary" href="/occurrence/new/<%= item._id %>">Editar</a>
					<a class="btn btn-primary" href="/occurrence/delete/<%= item._id %>">Deletar</a>
				</td>
			</tr>
			<% }) %>
	</tbody>
</table>

<!-- Button to Open the Modal -->


<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Filtros</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form id="form_pesquisa" action="/occurrencealerts/find"  method="POST">
			<select class="form-control mb-3" name="tipo">
				<option disabled="true" hidden="true" selected="true">Tipo</option>
				<option value="Patrimonio">Patrimonio</option>
				<option value="Estrutura Fisica">Estrutura Física</option>
			</select>

			<select class="form-control mb-3" name="gravidade">
				<option disabled="true" hidden="true" selected="true" >Gravidade</option>
				<option value="Baixa">Baixa</option>
				<option value="Media">Media</option>
				<option value="Alta">Alta</option>
			</select>

			<button class="btn btn-primary" type="submit">Pesquisar</button>

		</form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        
      </div>

    </div>
  </div>
</div>

