<div class="text-right mt-5">
	<a class="btn btn-primary mb-4" href="/logout">Sair</a>
</div>

<h1 class="border-bottom mt-1 mb-5">Registro de Ocorrência</h1>

<form action="/occurrence/new/<%= data._id %>" method="POST">
	<input class="form-control mb-3" required="true" value="<%= data.local %>"
		name="local" placeholder="Local (Ex. sala, corredor, andar ... )"/>
	<textarea class="form-control mb-3" name="description" required="true" 
		placeholder="Descrição do problema (Ex. ar-condicionado com  defeito, tomadas não estão funcionando ... )"><%= data.description %></textarea>
	<select class="form-control mb-3" name="tipo" required="true">
		<option disabled="true" hidden="true" selected="true">Tipo</option>
		<option value="Patrimonio">Patrimonio</option>
		<option value="Estrutura Fisica">Estrutura Física</option>
	</select>

	<select class="form-control mb-3" name="gravidade" required="true">
		<option disabled="true" hidden="true" selected="true" >Gravidade</option>
		<option value="Baixa">Baixa</option>
		<option value="Media">Media</option>
		<option value="Alta">Alta</option>
	</select>
	<a class="btn btn-secondary" href="/occurrence">Cancelar</a>
	<button class="btn btn-primary" type="submit">Registrar</button>
</form>