<div class="text-right mt-5">
  <a class="btn btn-primary mb-4" href="/logout">Sair</a>
  </div>
  
  <h1 class="border-bottom mt-1 mb-4">Atendimento de Ocorrência</h1>
  <% if(data.situation == 'Aberta'){%>
    <form action="/preoccurence/setstatus/emandamento/<%=data._id%>">
      <button class="btn btn-success float-right" type="submit">Atender</button>
    </form>
  <% } %>
  
  <div class="mb-3 p-3 shadow bg-light rounded" >
    <h4 class="mt-1 mb-4">Log do Chamado</h4>
    <p>Situação: <%= data.situation %></p>
    <p>Descrição: <%= data.description %></p>
    <p>Local: <%= data.local %></p>
  </div>
  

  <% if(data.situation == 'Em andamento'){%>
    
  <div class="mb-3 p-3 shadow bg-light rounded" >
    <h4 class="mt-1 mb-4">Ficha Técnica</h4>
  
    <form action="/preoccurrence/evaluate/<%= data._id %>" method="POST">
        
      <div class="form-group mb-3">
        <label for="tiposOcorrencia">Tipo da Ocorrência:</label> <!-- (Ex. lâmpada queimada, falta de água, ar-condicionado quebrado, mouse quebrado... ) -->
        <select class="form-control" id="tiposOcorrencia">
          <option hidden>Escolha...</option>
          <option>Lâmpada queimada</option>
          <option>Falta de água</option>
          <option>Ar-condicionado quebrado</option>
          <option>Computador quebrado</option>
        </select>
      </div>
  
      <div class="form-group mb-3">
        <label for="locais">Local (técnico):</label>
        <select class="form-control" id="locais">
          <option hidden>Escolha...</option>
          <option>A301</option>
          <option>Corredor 1º Andar</option>
          <option>B205</option>
        </select>
      </div>  
        
      <label for="parecerTecnico">Parecer Técnico:</label>
      <textarea id="parecerTecnico" class="form-control mb-3" name="feedback" placeholder="Parecer técnico"><%= data.feedback %></textarea>
  
      <a class="btn btn-secondary" href="/preoccurrence">Cancelar</a>
      <button class="btn btn-primary" type="submit">Registrar</button>
    </form>
  </div>
  <% } %>
  <br />
  <h6>Aberto em: <%= data.createdAt.toLocaleString() %></h6>
  <h6>Última atualização em: <%= data.updatedAt.toLocaleString() %></h6>
  
  </div>