​<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
	<a class="navbar-brand" href="#">FixIt</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
		aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor02">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown active">
				<a class="nav-link dropdown-toggle" href="#" id="occurrenceNavbarDropdown" role="button"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Ocorrências
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="/preoccurrence/new">Nova</a>
					<a class="dropdown-item" href="/preoccurrence">Listar Todas</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="occurrenceNavbarDropdown" role="button"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Usuários
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="/technician/new">Novo</a>
					<a class="dropdown-item" href="/technician">Listar Todos</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Relatórios</a>
			</li>
		</ul>
		<form class="form-inline">
			<a class="btn btn-primary" href="/logout" role="button">Sair</a>
		</form>
	</div>
</nav>

<h1 class="border-bottom mt-5 mb-5">Visualizar Ocorrência</h1>

<% if(data) { %>
    <h4>Situação Atual:</h4>
    <p><%= data.situation %></p>



<form action="/preoccurrence/new/<%= data._id %>" method="POST">
	<% if (!data.createdAt || data.situation == "Aberta") { %>
		<h4>Local</h4>
		<input class="form-control mb-3" value="<%= data.local %>"
			name="local" placeholder="Ex. sala, corredor, andar..."/>
		<h4>Descrição</h4>
		<textarea class="form-control mb-3" name="description"
			placeholder="Descrição do problema (Ex. ar-condicionado com  defeito, tomadas não estão funcionando ... )"><%= data.description %></textarea>
		<div class="form-group">
			<label for="formControlFile">Anexe uma imagem:</label>
			<input type="file" class="form-control-file" id="formControlFile">
		</div>
	<% } else { %>
		<h4>Local</h4>
		<input class="form-control mb-3" value="<%= data.local %>"
			name="local" placeholder="Local (Ex. sala, corredor, andar ... )" readonly/>
		
		<h4>Descrição</h4>
		<textarea readonly class="form-control mb-3" name="description"
			placeholder="Descrição do problema (Ex. ar-condicionado com  defeito, tomadas não estão funcionando...)"><%= data.description %></textarea>
		
		<!-- TODO <h4>Imagem</h4> -->

		<!-- TODO Comentarios do usuario -->
	<% } %>
		
	<% if(data.createdAt) { %>
		<h6>Aberto em: <%= data.createdAt.toLocaleString() %></h6>
		<h6>Última atualização em: <%= data.updatedAt.toLocaleString() %></h6>
	<% } %>

<% } %>
	<a class="btn btn-secondary" href="/preoccurrence">Cancelar</a>
	<button class="btn btn-primary" type="submit">Registrar</button>
</form>