​<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" href="#">FixIt</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
		aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor02">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown active">
				<a class="nav-link dropdown-toggle" href="#" id="occurrenceNavbarDropdown" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					Ocorrências
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="/preoccurrence/new">Nova</a>
					<a class="dropdown-item" href="/preoccurrence">Listar Todas</a>
				</div>
			</li>
			<% if(userAuth && userAuth.type === 'Gestor'){ %>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="occurrenceNavbarDropdown" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false">
					Usuários
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="/technician/new">Novo</a>
					<a class="dropdown-item" href="/technician">Listar Todos</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Relatórios</a>
			</li>
			<% } %>
		</ul>
		<form class="form-inline">
			<a class="btn btn-primary" href="/logout" role="button">Sair</a>
		</form>
	</div>
</nav>

<h1 class="border-bottom mt-4 mb-4">Lista de Ocorrências</h1>

<a class="btn btn-primary mb-4" href="/preoccurrence/new">Novo registro</a>
<% if(userAuth && userAuth.type !== 'Comum'){ %>
	<button type="button" class="btn btn-primary mb-4 float-right" data-toggle="modal" data-target="#myModal">
		Pesquisar
	</button>
<% } %>
<div class="table-responsive">
	<table class="table table-sm table-hover">
		<thead class="thead-light">
			<tr>
				<th>Criado em</th>
				<th>Local</th>
				<th>Descrição</th>
				<th>Situação</th>
				<th style="width: 180px;"> </th>
			</tr>
		</thead>
		<tbody>
			<% data.forEach(item => { %>
			<tr>
				<td>
					<%= item.createdAt.toLocaleString() %>
				</td>
				<td>
					<%= item.local %>
				</td>
				<td>
					<%= item.description %>
				</td>
				<td>
					<%= item.situation %>
				</td>
				<td>
					<a class="btn btn-secondary btn-sm" href="/preoccurrence/new/<%= item._id %>"><i
							class="material-icons">edit</i></a>
					<a class="btn btn-secondary btn-sm" href="/preoccurrence/delete/<%= item._id %>"><i
							class="material-icons">delete</i></a>
					<% if(userAuth && userAuth.type !== 'Comum'){ %>
						<a class="btn btn-secondary btn-sm" href="/preoccurrence/evaluate/<%= item._id %>"><i
							class="material-icons">build</i></a>
					<% } %>
				</td>
			</tr>
			<% }) %>
		</tbody>
	</table>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
	<div class="modal-dialog">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<h4 class="modal-title">Filtros</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
				<form id="form_pesquisa" action="/occurrencealerts/find" method="POST">
					<select class="form-control mb-3" name="tipo">
						<option disabled="true" hidden="true" selected="true">Tipo</option>
						<option value="Patrimonio">Patrimonio</option>
						<option value="Estrutura Fisica">Estrutura Física</option>
					</select>

					<select class="form-control mb-3" name="gravidade">
						<option disabled="true" hidden="true" selected="true">Gravidade</option>
						<option value="Baixa">Baixa</option>
						<option value="Media">Media</option>
						<option value="Alta">Alta</option>
					</select>

					<button class="btn btn-primary" type="submit">Pesquisar</button>

				</form>
			</div>

			<!-- Modal footer -->
			<div class="modal-footer">

			</div>

		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>