<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.min.js"></script>
<script type="text/javascript" src="js/validator-cpf.js"></script>

<% alerts.listErro.forEach(item => { %>
	<div class="alert alert-danger" role="alert"><%= item %></div>
<% }) %>

<h1 class="border-bottom mt-5 mb-5">
	Registre-se
</h1>

<form action="/register" method="POST">
	<input class="form-control mb-3" value="" type="text" name="nome" placeholder="Nome" required/>
	<input class="form-control mb-3" value="" type="text" name="cpf" placeholder="CPF" id="form-register-cpf" required/>
	<input class="form-control mb-3" value="" type="email" name="email" placeholder="E-mail" required/>
	<input class="form-control mb-3" value="" type="password" name="senha" placeholder="Senha" required/>
	<a class="btn btn-secondary" href="/login">Voltar</a>
	<button class="btn btn-primary" type="submit" id="form-register-submit" disabled>Registrar</button>
	
	<!-- Nao confere mascara de cpf -->
	<!-- <button class="btn btn-primary" type="submit" id="form-register-submit">Registrar</button> -->
</form>

<script type="text/javascript">
	$(document).ready(function(){
		$("#form-register-cpf").mask("000.000.000-00");
		$("#form-register-cpf").on('change', function () {
			$('#form-register-submit').attr('disabled', !validarCPF($("#form-register-cpf").val()))
		});
	});
</script>