<script type="text/javascript"></script>

<div class="text-right mt-5">
  <a class="btn btn-primary mb-4" href="/logout">Sair</a>
</div>

<button type="button" class="btn btn-primary mb-4 float-right" data-toggle="modal" data-target="#myModal">
  Pesquisar
</button>
<h1 class="border-bottom mt-1 mb-5">Relatórios</h1>
<h2>Ocorrências Registradas: <%= data.length %></h2>


<canvas id="canvasGrafico"></canvas>







<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Filtros</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form id="form_pesquisa" action="/relatorio/find" method="POST">
          <select class="form-control mb-3" name="tipo">
            <option disabled="true" hidden="true" selected="true">Tipo</option>
            <option value="Patrimonio">Patrimonio</option>
            <option value="Estrutura Fisica">Estrutura Física</option>
          </select>

          <select class="form-control mb-3" name="gravidade">
            <option disabled="true" hidden="true" selected="true">Gravidade</option>
            <option value="Baixa">Baixa</option>
            <option value="Media">Media</option>
            <option value="Alta">Alta</option>
          </select>

          <button class="btn btn-primary" type="submit">Pesquisar</button>

        </form>


      </div>

      <!-- Modal footer -->
      <div class="modal-footer">

        <a href="/relatorio" class="btn btn-primary float-left">Todos os Chamados</a>
      </div>

    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>