​<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">FixIt</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="occurrenceNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Ocorrências
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					  <a class="dropdown-item" href="/preoccurrence/new">Nova</a>
					  <a class="dropdown-item" href="/preoccurrence">Listar Todas</a>
					</div>
				  </li>
				  <li class="nav-item dropdown active">
						<a class="nav-link dropdown-toggle" href="#" id="occurrenceNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Usuários
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						  <a class="dropdown-item" href="/technician/new">Novo</a>
						  <a class="dropdown-item" href="/technician">Listar Todos</a>
						</div>
					  </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Relatórios</a>
        </li>
      </ul>
      <form class="form-inline">
			<a class="btn btn-primary" href="/logout" role="button">Sair</a>
      </form>
	</div>
</nav>

<h1 class="border-bottom mt-4 mb-5">Cadastro Usuário Suporte Técnico</h1>

<form action="/technician/new/<%= data._id %>" method="POST">
	<input class="form-control mb-3" value="<%= data.nome %>" type="text" name="nome" placeholder="Nome" required/>
	<input class="form-control mb-3" value="<%= data.cpf %>" type="text" name="cpf" placeholder="CPF" id="form-register-cpf" required/>
	<input class="form-control mb-3" value="<%= data.email %>" type="email" name="email" placeholder="E-mail" <% if (data._id) { %> readonly <% } %> required/>
	<input class="form-control mb-3" value="" type="password" name="senha" placeholder="Senha" required/>
	<select class="custom-select mb-3" name="type" required>
		<option value="" <% if (!data._id) { %> selected <% } %> >Selecione Tipo de Usuário</option>
		<option value="Tecnico" <% if (data.type == 'Tecnico') {%> selected <% } %> >Técnico</option>
		<option value="Gestor" <% if (data.type == 'Gestor') {%> selected <% } %> >Gestor</option>
	</select>
	<a class="btn btn-secondary" href="/technician">Cancelar</a>
	<button class="btn btn-primary" type="submit">Registrar</button>
</form>

<script type="text/javascript">
	$(document).ready(function(){
		$("#form-register-cpf").mask("000.000.000-00");
		$("#form-register-cpf").on('change', function () {
			$('#form-register-submit').attr('disabled', !validarCPF($("#form-register-cpf").val()))
		});
	});
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>