​<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" href="#">FixIt</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
		aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor02">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="occurrenceNavbarDropdown" role="button"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Ocorrências
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="/preoccurrence/new">Nova</a>
					<a class="dropdown-item" href="/preoccurrence">Listar Todas</a>
				</div>
			</li>
			<li class="nav-item dropdown active">
				<a class="nav-link dropdown-toggle" href="#" id="occurrenceNavbarDropdown" role="button"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Usuários
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="/technician/new">Novo</a>
					<a class="dropdown-item" href="/technician">Listar Todos</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Relatórios</a>
			</li>
		</ul>
		<form class="form-inline">
			<a class="btn btn-primary" href="/logout" role="button">Sair</a>
		</form>
	</div>
</nav>

<h1 class="border-bottom mt-4 mb-4">Usuários do Suporte Técnico</h1>

<a class="btn btn-primary mb-4" href="/technician/new">Novo Registro</a>

<div class="table-responsive">
	<table class="table table-sm table-hover">
		<thead class="thead-light">
			<tr>
				<th>Nome</th>
				<th>E-mail</th>
				<th>Tipo</th>
				<th style="width: 180px;"> </th>
			</tr>
		</thead>
		<tbody>
			<% data.forEach(item => { %>
			<% if(item.type != 'Comum'){ %>
			<tr>
				<td>
					<%= item.nome %>
				</td>
				<td>
					<%= item.email %>
				</td>
				<td>
					<%= item.type %>
				</td>
				<td>
					<a class="btn btn-secondary btn-sm" href="/technician/new/<%= item._id %>"><i
							class="material-icons">edit</i></a>
					<a class="btn btn-secondary btn-sm" href="/technician/delete/<%= item._id %>"><i
							class="material-icons">delete</i></a>
				</td>
			</tr>
			<% } %>
			<% }) %>
		</tbody>
	</table>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>